<% if current_user.role == "business" %>
  <%= render partial: 'business' %>
<% elsif current_user.role == "client" %>
  <%= render partial: 'client' %>
<% else %>
  <h1>Select what type of user you want to be!</h1>
  <div align="center">
    <%= button_to "Business", {:controller => "usertype", :action => "index", :role => "business" } , :method => :post %>
    <%= button_to "Client", {:controller => "usertype", :action => "index", :role => "client" } , :method => :post %>
  </div>
<% end %>
