
  <h1>Select what type of user you want to be!</h1>
  <div align="center">
    <%= button_to "Business", {:controller => "usertype", :action => "update", :role => "business" } , :method => :post %>
    <%= button_to "Client", {:controller => "usertype", :action => "update", :role => "client" } , :method => :post %>
  </div>

